# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Ignore all folders named "node_modules"
node_modules/

# Ignore database files
*.sqlite3
